.wrapper {
    display: flex;
    flex-direction: row;
    /* height: calc(10vh - 200px); */
    height: 69.7vh;
}

.content {
    background: lightgray;
    height: 69.65vh;
    width: 40vh;
    min-width: 250px;
}

#chat-container {
    flex-direction: column;
    display: flex;
    min-height: 5vh;
    color: gray;
}

#chat {
    width:40vh;
    height: 63vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
    box-sizing: border-box;
    border: solid black 2px
}

input[type='text'] {
    position: relative;
    top: 0vh;
    right: 14vh;
    width: 38.5vh;
    height: 4vh;
    padding: 5px;
}
