.game-lobby-container {
    width: 100vw;
    height: 100vh;
}

.game-tile {
    background-color: red;
    width: 100px;
    height: 100px;
}

.userInfo{
    position: relative;
    display: block;
    float:left;
    border-right: 3px solid white;
    height: 30vh;
    width: 40 vw;     
}

.chat{
border-top: 3px solid white;
position: absolute;
float:left;
height: 70vh;
width: 40vw;
top: 30vh
}

.user-info-button {
    width: 50%;
    border-radius: 3px;
    cursor: pointer;
    padding: 3% 10%;
    margin: 10px;
    border: solid white 3px;
    background-color: rgb(185, 185, 185);
    font-size: 15px;
}

.user-info-button:hover {
    border-color: black;
}

.userInfo-top h2{
    padding: 2%;

}

.lobby-username{
    position: absolute;
    top: 0px;
    left: 5vw;
    color: white;
    font-family: Arial;
}

.winnings{
    position: relative;
    top: 7vh;
    left: 5vh;
    color: white;
    font-size: 19px;
    font-family: Arial;
}