.game-lobby-container {
    width: 100vw;
    height: 100vh;
}

.game-tiles{
    position: relative;
    left: 20vh;
    top: 4vh;
    border-radius: 3px;
    border: 3px solid white;
    padding: 20px;
    width: 50vw ;
    height: 25vh;
    }

.enter-game-button{
position: relative;
margin-left: 20%;
top: 5vh;
left: 40vh;
height: 15vh;
font-size: 2.4vh;
font-weight: bold;
background:rgb(245, 224, 53);
border: 3px solid white;
border-radius: 3px;
}

.settings{
position: relative;
bottom: 3vh;
width: 28vh;
height: 3.5vh;
font-size: 2vh;
font-weight: bold;
background:rgb(185, 185, 185);
border: 3px solid white;
border-radius: 3px;
}

.create-game{
position: relative;
bottom: 2vh;
width: 28vh;
height: 3.5vh;
font-size: 2vh;
font-weight: bold;
background:rgb(185, 185, 185);
border: 3px solid white;
border-radius: 3px;
}

#profile-logo {
    position: relative;
    bottom: 3vh;
    right: 8vh;
    width: 16vh;
}

.userInfo{
position: relative;
display: block;
float: left;
border-right: 3px solid white;
height: 100vh;
width: 30vh;
        
}

.chat{
border-top: 3px solid white;
position: absolute;
float:left;
height: 70vh;
width: 40vh;
top: 30vh
}
            
.games{
/* float: right; */
position:absolute;
/* border-left: 1px solid black; */
height: 100vh;
width: 70vw;
left: 30vh;
}
            
.log-out{
position: relative;
bottom: 4vh;
width: 28vh;
height: 3.5vh;
font-size: 2vh;
font-weight: bold;
background:rgb(185, 185, 185);
border: 3px solid white;
border-radius: 3px;

}

.lobby-username{
position: relative;
top: 6vh;
left: 5vh;
color: white;
font-family: Arial;
                
}

.winnings{
position: relative;
top: 7vh;
left: 5vh;
color: white;
font-size: 19px;
font-family: Arial;
}