#app {
  text-align: center;
  width: 98.5vw;
  margin:0px;
}

h2 {
  font-size: 2.2em;
}

a {
  text-decoration: none;
}

#games-lobby-items{
  padding-top: 10px;
  font-size: 1.2em;
}

#games-lobby-items button {
  background: rgb(84, 206, 84);
  padding: 5px;
  border-radius: 20px;
}

input {
  width: 100%;
  padding: 10px 18px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  background: rgb(47, 150, 34);
  color: white;
  font-size: 1em;
  border-radius: 10px;
}

form {
  margin: 0 40%;
  text-align: center;
}

label {
  float: left;
  font-size: 18px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #282c34;
  color: white;
  padding: 12px;
  font-size: 20px;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

 .player{
  width: 150px;
  height: 80px;
  padding: 0px;
  margin: 5px;
}

.play-text-info{
  margin: auto;
  border-width: 1px;
  text-align: center;
  width: 100px;
  height: 40px;
  padding-left: 10px;
  border-style: solid;
  border-radius: 15px;
  border-color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px; 
  background-color: black;
  color: white;
  float:left;
  position: absolute;
  top: 60px;
  opacity: .8;
}

.not-in-hand {
  opacity: .5 !important;
}

#hole-card{
  width: 50px;
  z-index: -1;
}

#community-cards{
  position: absolute;
  top: 220px;
  left: 400px;
}

#table{
  background-color: green;
  width: 1000px;
  height: 500px;
  border-radius: 50%;
}

.join-button{
 margin-top: 40px;
 font-size: 18px;
 background-color: grey;
 border: none;
 padding: 15px 10px;
 border-radius: 10px;
 margin-top: 40px;
 margin-left: 30px;
}

#root{
  width: 750px;
  height:250px;
}

#player0{
  position: absolute;
  left: 660px;
 }

#player1{
  position: absolute;
  left: 880px;
  top: 100px;
}

#player2{
  position: absolute;
  left: 880px;
  top: 300px;
}

#player3{
 position: absolute;
 left: 660px;
 top: 400px;
}

#player4{
  position: absolute;
  left: 450px;
  top: 420px;
}

#player5{
  position: absolute;
  left: 230px;
  top: 400px;
}

#player6{
  position: absolute;
  left: 20px;
  top: 300px;
}

#player7{
  position: absolute;
  left: 20px;
  top: 100px;
} 

#player8{
  position: absolute;
  left: 230px;
}
